@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(/body-bg.png) repeat-y center top;
}

@layer components {
  .container {
    @apply mx-auto px-4;
    max-width: 540px;

    @screen md {
      max-width: 920px;
    }

    @screen lg {
      max-width: 960px;
    }
  }
}

.header-slider .swiper-pagination-bullets {
  @apply hidden py-5 md:flex md:items-center md:justify-center;
}

.header-slider .swiper-pagination-bullet {
  @apply h-2 w-5 cursor-pointer rounded-full bg-white/80 transition-all duration-500;
}

.header-slider .swiper-pagination-bullet-active {
  @apply bg-white;
}

.mobile__menu-toggle span {
  @apply block h-0.5 w-9 rounded-md bg-gradient-to-r from-[#ff7757] to-[#9b2fff] transition-all duration-300;
}

.mobile__menu-toggle.active span:first-child {
  transform: rotate(42deg) translateY(9px) translatex(6px);
}

.mobile__menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.mobile__menu-toggle.active span:last-child {
  transform: rotate(-42deg) translateY(-8px) translatex(4px);
}

.sidebar__calendar
  .rs-calendar-body
  .rs-calendar-table-header-cell
  .rs-calendar-table-header-cell-content {
  @apply w-full bg-darkBlue text-sm font-bold text-white;
}

.sidebar__calendar .rs-calendar-header {
  @apply px-0;
}

.sidebar__calendar .rs-calendar-body {
  @apply p-0;
}

.sidebar__calendar .rs-calendar-body .rs-calendar-table {
  @apply border-0;
}

.sidebar__calendar .rs-calendar-body .rs-calendar-table-cell-content {
  @apply !h-[30px] p-0;
}

.sidebar__calendar .rs-calendar-body .rs-calendar-table-cell-day {
  @apply text-base;
}

.sidebar__calendar .rs-calendar-body .rs-calendar-table-cell-day {
  @apply mt-0 flex h-full w-full items-center justify-center rounded-none;
}

.sidebar__calendar
  .rs-calendar-body
  .rs-calendar-table-row
  .rs-calendar-table-cell {
  @apply p-0;
}

.sidebar__calendar
  .rs-calendar-body
  .rs-calendar-table-row
  .rs-calendar-table-cell:not(:first-child) {
  @apply border-l border-[#f2f2f5];
}
